{% extends "base.html" %}

{% block content %}

<section class="hero">
    <h1>{{ title }}</h1>
    <p>Hello everyone, and welcome to my portfolio website!!</p>
    <ul>I’m Nino, a molecular biologist that has recently branched into coding. Here you can explore my projects, experience, and skills.
        I decided to make this website to tesst my skills in coding and have a nicer place where I can describe my work throughout my tenure in the phasrmaceutical industry and my time at Tufts.
        My intention is to keep updating this site as I complete new projects and learn new skills, so don't be shocked if new content appears.
        Ultmaley my goal is to present my work in a clear and engaging way for future PhD applications or potential collaborations.
         Feel free to browse around my projects and reach out if you have any questions, feedback or opportunities. 
    </ul>
</section>

<section class="quick-links">
    <h2>Explore</h2>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/contact">Contact Me</a></li>
    </ul>
</section>

<section class="image">
    <img src="/static/profile_picture.jpg"  class="img-fluid rounded-circle mx-auto d-block">
    <p class="text-center mt-2">Here is me durig my most recet trip!</p>
</section>





{% endblock %}

