{% extends "base.html" %}

{% block content %}

<section class="hero">
    <h1>{{ title }}</h1>
    <p>In this section, I have included a few of the projects I have worked on over the last 5 years.</p>
    <p>My approach has always been interdisciplinary, as I strive to incorporate knowledge from prior classes and experiments into new creative solutions.</p>
</section>

<section class="projects">
    <h2>Coding Projects</h2>

    <div class="project">
        <h3>Two-Compartment PK Model of R-Ibuprofen</h3>
        <p>A two compartment PK model for R-Ibuprofen in R derrived from Lötsch et al.(2001)</p>
        <p><a href= "{{ url_for('static', filename='PK_PD_Model_NK_final.html') }} ">View Project</a></p>
        <p><a href="https://github.com/NinoKoci/R-Projects">GitHub Repo</a></p>
        <p><a href= "https://pmc.ncbi.nlm.nih.gov/articles/PMC2014594/">Lötsch et al. 2001 Article</a></p>
    </div>

    <div class="project">
        <h3>One-Compartment PK/PD Model of Rifampin</h3>
        <p>A single compartment PBPK model of Rifampin via MATLAB SimBiology derrived from Lyons et al. parameters(2013)</p>
        <p><a href= "{{ url_for('static', filename='Rimfapin_PBPK.html') }} ">View Project</a></p>
        <p><a href="https://github.com/NinoKoci/MATLAB-Projects-">GitHub Repo</a></p>
        <p><a href= "{{ url_for('static', filename='Rimfapin Final Project Figures.pdf') }} ">Figures</a></P>
        <p><a href="https://journals.asm.org/doi/10.1128/aac.01567-12">Lyons et al. 2013 Article</a></p>
    </div>

    <div class="project">
        <h3>LNP PK/PD Modeler</h3>
        <p>Under development</p>
        <a href="#">View Project</a>
    </div>

    <div class="project">
        <h3>Dinaric Lynx Genetic Reintroduction Model (SLiM)</h3>
        <p>Population genomic model that would ameliorate the effects of inbreeding in reintroduced Dinaric lynx populations.</p>
        <p><a href= "{{ url_for('static', filename='.') }} ">View Project</a></p>
        <p><a href="https://github.com/NinoKoci">GitHub Repo</a></p>
        <a href= "{{ url_for('static', filename='Dinaric Lynx Reintroduction Presentation.pdf') }} ">Summary</a>

    </div>

    <h2 class="mt-5">Experimental Projects</h2>

    <div class="project">
        <h3>Firefly Luciferase Quantification Assay</h3>
        <p> An ELISA like assay that acesses the effectivenss of LNP Candidates by quantifying the concenytration of fLUC biomarker transcribed from delivered mRNA in tissue homogenates.</p>
        <a href="#">View Project</a>
    </div>

    <div class="project">
        <h3>Long-Term GHSR-Mediated Morphological Alteration of Hypothalamic Nuclei in Wistar Rats</h3>
        <p>Novel proposed methodology for observing the alteration of hypothalamic nuclei under induced anorexia and obesity in Wistar rats.(*Disclamer: This project is a proposed assay that was never perfromed, the results are mock data for presentation purposes only*)</p>
        <a href= "{{ url_for('static', filename='Poster.pdf') }} ">View Project</a>
    </div>

    <div class="project">
        <h3>Explanation of Neuronal Mechanisms via Circuitry</h3>
        <p>Peoject that uses circuit mechanism to describe neuronal signal propagation.</p>
        <a href= "{{ url_for('static', filename='project_neural_circuitry.pdf') }} ">View Project</a>
    </div>

</section>

{% endblock %}
