{% extends "base.html" %}

{% block content %}
<section class="about">
    <h1>{{ title }}</h1>
    <p>Here you will find most of my skills and experiences during my educational and professional career.</p>
</section>

<section class="skills">
    <h2>Skills</h2>
    <p>Computational & Data Analysis</p>
        <ul>
        <li>Programming Languages: Python, R, MATLAB Simbiology, </li>
        <li>PythonPackages: NumPy, PyTorch, Flask</li>
        <li>Website Development: HTML and CSS</li>
        <li>Database Management: SQL, SQLite</li>
        <li>Git & GitHub </li>
        </ul>
    <p>Wet-lab Techniques:</p>
        <ul>
        <li>Mammalian Cell Cultures for Human and NHP</li>
        <li>Immunoasssays for Protein Quantification: ELISA, MSD, Luminex and Westen-Blot</li>
        <li>Viral Neutralization and Titer Assays</li>
        <li>mRNA Quantifcation Assays: brachDNA and RT-qPCR</li>
        <li>Flow Cytometry</li>
        <li>Spectrophotometry: HPLC and LCMS</li>
        <li>Plate Readers: Cytation-7 and Varioskan-LUX</li>
        </ul>
    <p>Data Visualization and Statistical Analysis</p>
        <ul>
        <li>Data Visualization Tools: Matplotlib, Seaborn, ggplot2, Prism</li>
        <li>Statistical Analysis: Hypothesis Testing, Regression Analysis, ANOVA</li>
        </ul>
    <p>Lab Management and Conduct</p>
        <ul>
        <li>Laboratory Information Management Systems (LIMS)</li>
        <li>Ability to handle hazardous materials such as liquid nitrogen and biowaste by following safety protocols</li>
        <li>Standard Operating Procedures (SOPs) Development and Implementation</li>
        <li>Inventory Management and Procurement</li>
        <li>Ability to operate in BSL-2 conditions</li>
        </ul>

</section>

<section class="education">
    <h2>Education</h2>

    <p>Master of Science in Biology – Tufts University, Medford, MA</p>
    <ul>
        <li>February 2024 – August 2025</li>
        <li>GPA: 3.77</li>
        <li>Emphasis in Computational Biology</li>
        <li>Thesis: Computational Modeling of SARS-CoV-2 Dynamics and Treatment Strategies</li>
        <li>Relevant Courses:
            <ul>
                <li>Biological Systems Modeling</li>
                <li>Computational Biology</li>
                <li>Biostatistics</li>
                <li>Neurobiology</li>
                <li>Computational Lab in Population Genetics</li>
                <li>Endocrinology</li>
                <li>Immunology</li>
            </ul>
        </li>
        <li>Relevant Projects:
            <ul>
                <li>Recreated a PBPK model for Rifampin via MATLAB SimBiology from Lyons et al.(2013)</li>
                <li>Recreated a PK model for R-Ibuprofen in R from (2013)</li>
                <li>Formulated a population genomic model that would ameliorate the effects of inbreeding in Dinaric lynx.</li>
                <li>Proposed a novel methodology for observing the alteration of hypothalamic nuclei under induced anorexia and obesity in Wistar rats.</li>
            </ul>
        </li>
    </ul>
</section>

<section class="education">
    <p>Bachelor of Arts in Biology – St. Olaf College, Northfield, MN</p>
    <ul>
        <li>September 2016 – May 2020</li>
        <li>GPA: 3.45</li>
        <li>Emphasis on Biochemistry and Neuroscience</li>
        <li>Relevant Courses:
            <ul>
                <li>Genetics</li>
                <li>Microbiology</li>
                <li>Biochemistry</li>
                <li>Developmental Biology</li>
                <li>Biopsychology</li>
                <li>Human Gross Anatomy</li>
            </ul>
        </li>
        <li>Relevant Projects:
            <ul>
                <li>Independent study on renal human anatomy in Human Gross Anatomy.</li>
                <li>T.A. for Anatomy and Physiology.</li>
            </ul>
        </li>
    </ul>
</section>




<section class="experience">
    <h2>Experience</h2>

    <!-- Job 1 -->
    <div class="job">
        <p class="job-title">
            Senior Research Associate
            <span class="job-period"> Aug 2023 – Feb 2024</span>
        </p>
        <p class="company">
            Yoh, a Day & Zimmerman Company / Sanofi Pasteur
            <span class="location">—Cambridge, MA</span>
        </p>
        <ul>
            <li>Operated under contract for the Global Vaccine research team at Sanofi Pasteur to discover optimal vaccine formulations for various
viral strains via neutralization assays through treated human serum antibodies.</li>
            <li>Measured cell viability post MTT staining at 570nm using a Cytation-7 multiplex plate reader, ensuring accurate assessment of viable
cell counts for assessing vaccine efficiency.</li>
            <li>Calculated viral titers through plaque assays on human epithelial cellular monolayers by fixing dead cells with methanol and staining
with methylene blue/crystal violet, providing precise viral quantification for research studies.</li>
        </ul>
    </div>

    <!-- Job 2 -->
    <div class="job">
        <p class="job-title">
            Senior Research Associate
            <span class="job-period"> Feb 2022 - April 2023</span>
        </p>
        <p class="company">
            ReNAgade Therapeutics
            <span class="location">—Cambridge, MA</span>
        </p>
        <ul>
            <li>Performed quantification of tissue homogenate samples to observe siRNA gene silencing via ELISA/MSD for target protein biomarkers.</li>
            <li>Developed a novel reporter gene assay for quantifying Firefly Luciferase (fLUC) biomarker spliced through CRISPR-Cas9 in tissue
homogenates by programming the plate reader to dispense luciferin and immediately record luminescence, enhancing the sensitivity
of biomarker quantification.</li>
            <li>Quantified mRNA of tissue homogenates via a branch DNA assay to determine if the LNP payloads were successful, aiding in the
validation of LNP delivery systems.</li>
            <li>Presented the results of the assays in the DMPK team or company meetings and participated in the discussion of determining optimal
LNP candidates.</li>
            <li>Collaborated with cross-functional teams to optimize assay protocols and improve data accuracy.</li>
        </ul>
    </div>

    <!-- Job 3 -->
    <div class="job">
        <p class="job-title">
            Laboratory Technician
            <span class="job-period"> Nov 2020 – Nov 2021</span>
        </p>
        <p class="company">
            Steep Hill MA
            <span class="location">— Framingham, MA</span>
        </p>
        <ul>
            <li>Extracted heavy metal content and organic material for further analysis via an ICP-MS and LC-MS, respectively, to ensure product
safety and provide state-mandated certifications.</li>
            <li>Performed standards calibration and regular maintenance for the LC-MS and ICP-MS.</li>
            <li>Maintained accurate records of sample processing and analysis results in compliance with regulatory standards.</li>
            <li> Maintained reagent and material stocks for the lab by managing procurement.</li>
            <li>Ensured compliance with lab safety protocols and procedures.</li>
        </ul>
    </div>

    <!-- Job 4 -->
    <div class="job">
        <p class="job-title">
            T.A. for Human Anatomy and Physiology Lab
            <span class="job-period"> August 2018 – December 2018</span>
        </p>
        <p class="company">
            St. Olaf College Biology Department
            <span class="location">— Northfield, MN</span>
        </p>
        <ul>
            <li>Maintained laboratory equipment and prepared reagents for experiments.</li>
            <li>Assisted in data collection and analysis for faculty research projects.</li>
            <li>Ensured compliance with lab safety protocols and procedures.</li>
        </ul>
    </div>

</section>

{% endblock %}
