{% extends "base.html" %}

{% block content %}
<section class="hero">
    <h1>{{ title }}</h1>
    <p>Here you will find most of my skills and experiences during my academic and professional career.</p>
</section>

<section class="experience">
    <h2>Experience</h2>

    <!-- Job 1 -->
    <div class="job">
        <p class="job-title">
        Senior Research Associate, Global Vaccines
        </p>
        <p class="location">
        Yoh, A Day & Zimmerman Company/Sanofi-Pasteur | Cambridge, MA | Aug 2023 - Feb 2024
        </p>
        <ul>
            <li>Produced a series of vaccine candidates by neutralizing virally infected mammalian squamous epithelial cell lines with treated human sera.</li>
            <li>Successfully utilized and programmed Integra liquid handlers for improving the efficiency of the neutralization assay by 50% while maintaining aseptic technique in BSL-2 laboratory conditions.</li>
            <li>Consistently quantified viral titers in various dilutions (TCID50) for neutralization assays.</li>
            <li>Utilized a Cytation-7 plate reader to read the results of the neutralization and titer assay post violet staining.</li>
        </ul>
    </div>

    <!-- Job 2 -->
    <div class="job">
        <p class="job-title">
        Senior Research Associate, DMPK
        </p>
        <p class="location">
        ReNAgade Therapeutics | Cambridge, MA | Feb 2022 - May 2023
        </p>
        <ul>
            <li>Established a high-throughput ELISA workflow integrating plate washers, shakers, and pre-programmed Varioskan LUX, increasing assay throughput by 75% and enabling near-real-time biomarker analysis.</li>
            <li>Optimized mRNA extraction using Kingfisher Apex for downstream branched-DNA quantification and RT-qPCR and supporting NGS library prep for delivery validation.</li>
            <li>Developed and validated a novel in-house firefly luciferase (fLUC) quantification assay using an ELISA-like luminescence approach in the absence of commercial kits. Automated substrate dispensing and detection via Varioskan LUX.</li>
            <li>Quantified LNP-mediated mRNA delivery efficiency by measuring biomarker (human albumin, fLUC, human EPO) expression using MSD, ELISA, and luciferase assays, and mRNA levels with branched-DNA across more than 10 tissue types.</li>
            <li>Presented ranked LNP candidate data with Python-generated visualizations at DMPK and company-wide meetings, directly influencing the selection of 10+ lead LNPs for progression toward clinical trials.</li>
        </ul>
    </div>

    <!-- Job 3 -->
    <div class="job">
        <p class="job-title"> Laboratory Technician, Heavy Metals </p>
        <p class="location"> Steep Hill Massachusetts | Framingham, MA | Nov 2020 - Nov 2021 </p>
        <ul>
            <li>Extracted heavy metal content via ICP-MS and organic compounds via LC-MS to ensure product compliance with state safety metal and pesticide regulations and generate state-mandated certifications.</li>
            <li>Increased analytical yield by 100% through optimized instrument calibration verification via standard/control tracking, duplicate runs, and regularly scheduled maintenance.</li>
            <li>Developed and maintained an Excel-based inventory system for reagents and instrument parts, ensuring quick access and reducing instrument downtime</li>
        </ul>
    </div>

    <!-- Job 4 -->
    <div class="job">
        <p class="job-title">
            T.A. for Human Anatomy and Physiology Lab
        </p>
        <p class="location">
        St. Olaf College Biology Department | Northfield, MN | August 2018 – December 2018
        </p>
        <ul>
            <li>Taught the materials for the lab alongside the teacher.</li>
            <li>Assisted students with any questions they had regarding the subject.</li>
            <li>Composed supplementary instructions and laboratory exams alongside fellow T.A’s.</li>
            <li>Evaluated students’ lab quizzes and exams.</li>
        </ul>
    </div>

</section>

<img src="{{ url_for('static', filename='breaker.png') }}" 
     alt="Section Divider"
     class="img-breaker">


<section class="experience">
    <h2>Education</h2>
    <div class = "job">
        <p class="job-title">Master of Science in Biology</p>
        <p class="location">Tufts University | Medford, MA | Feb 2024 - Aug 2025</p>
        <ul>
            <li>February 2024 – August 2025</li>
            <li>GPA: 3.77</li>
            <li>Emphasis in Computational Biology</li>
            <li>Relevant Courses:
                <ul>
                    <li>Biological Systems Modeling</li>
                    <li>Computational Biology</li>
                    <li>Biostatistics</li>
                    <li>Neurobiology</li>
                    <li>Computational Lab in Population Genetics</li>
                    <li>Endocrinology</li>
                    <li>Immunology</li>
                </ul>
            </li>
            <li>Relevant Projects:
                <ul>
                    <li>Recreated a PBPK model for Rifampin via MATLAB SimBiology from Lyons et al.(2013)</li>
                    <li>Recreated a PK model for R-Ibuprofen in R from Lötsch et al.(2001)</li>
                    <li>Formulated a population genomic model that would ameliorate the effects of inbreeding in Dinaric lynx.</li>
                    <li>Proposed a novel methodology for observing the alteration of hypothalamic nuclei under induced anorexia and obesity in Wistar rats.</li>
                </ul>
            </li>
        </ul>
    </div>


<br>

    <div class = "job">
        <p class="job-title">Bachelor of Arts in Biology</p>
        <p class="location">St. Olaf College | Northfield, MN | Sep 2016 - May 2020</p>
        <ul>
            <li>September 2016 – May 2020</li>
            <li>GPA: 3.45</li>
            <li>Emphasis on Biochemistry and Neuroscience</li>
            <li>Relevant Courses:
                <ul>
                    <li>Genetics</li>
                    <li>Microbiology</li>
                    <li>Biochemistry</li>
                    <li>Developmental Biology</li>
                    <li>Biopsychology</li>
                    <li>Human Gross Anatomy</li>
                </ul>
            </li>
            <li>Relevant Projects:
                <ul>
                    <li>Independent study on renal human anatomy in Human Gross Anatomy.</li>
                    <li>T.A. for Anatomy and Physiology.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<img src="{{ url_for('static', filename='breaker.png') }}" 
     alt="Section Divider"
     class="img-breaker">


<section class="experience">
    <h2>Skills</h2>
    <div class = "job">
        <p class="job-title">Dry-Lab</p>
        <br>
            <ul style="list-style-type: none;">
            <li li class = "location">Programming Languages: </li>
                <ul>
                    <br>
                    <li class = "bolder"> Python:  </li>
                        <ul>
                            <li>Needleman-Wunsch algorithm </li>
                            <li>KNN-classifier (machine learning algorithms) </li>
                            <li> NGS: 
                                <ul >
                                    <li class = "white-bullets">NGS de-novo assembly </li>
                                    <li class = "white-bullets">NGS reference assembly </li>
                                </ul>
                                
                        </ul>
                   

                    <br>

                    <li class = "bolder"> R:  </li>
                        <ul>
                            <li>Statistical Analysis:
                                <ul>
                                    <li class = "white-bullets">Hypothesis Testing</li>
                                    <li class = "white-bullets">Regression Analysis</li>
                                    <li class = "white-bullets">ANOVA</li>
                                </ul>
                            </li>
                            <li>Data visualization:
                                <ul>
                                    <li class = "white-bullets">ggplot
                                </ul>
                            </li>
                            <li>Population model building</li>
                        </ul>
                   

                    <br>

                    <li class = "bolder"> Matlab(SimBiology):  </li>
                        <ul>
                            <li>PK/PD model development</li>
                        </ul>
        
                    <br>

                    <li class = "bolder"> HTML: </li>
                        <ul>
                            <li>Website development</li>
                        </ul>
                    
                    <br>

                    <li class = "bolder"> SQL:  </li>
                        <ul>
                            <li>Database Management</li>
                        </ul>
                   

                </ul>
            </li>
        </ul>
    </div>

    <br>

    <div class = "job">
    <p class="job-title">Wet-lab</p>
        <br>
        <ul style="list-style-type: none;">
            <li class = "location">Sample Preparation:  </li>
                <ul>
                    <li class = "bolder">In-vivo:</li>
                        <ul>
                            <li >Mouse tissue preparation</li>
                            <li  >Mouse and NHP tissue homogenization</li>
                            <li  >Mouse, Humana and NHP homogenzed tissue lysis</li>
                        </ul>
                    
                    <li class = "bolder">In-vitro:</li>
                        <ul>
                            <li >Squamous mammalian epithelial cell culture</li>
                            <li>Cell culture regeneration and maintenance</li>
                        </ul>
                </ul>
           
            <br>
            <li class = "location">Assays:</li>
                <ul>
                    <li class = "bolder">Assay Development</li>
                    <li class = "bolder">Biomarker Quantification Immunoassays: </li>
                        <ul>
                            <li >ELISA</li>
                            <li >MSD</li>
                            <li >LUMINEX</li>
                            <li>Western-Blot</li>
                        </ul>
                    
                    <li class = "bolder">Viral Neutralization and Titer Assays</li>
                    <li class = "bolder">mRNA Quantifcation: </li>
                        <ul>
                            <li >branchDNA </li>
                            <li >Reverse Transcriptase(RT)-qPCR </li>
                        </ul>
                    
                </ul>
            
            <br>

            <li class = "location">Instrumentation: </li>
                <ul>
                    <li class = "bolder">Automated Liquid Handlers:</li>
                        <ul>
                            <li >Kingfisher Apex</li>
                            <li >Integra AssistPlus</li>
                        </ul>
                    
                    <li class = "bolder">Flow Cytometry</li>
                    <li class = "bolder">Spectrophotometry: </li>
                        <ul>
                            <li>HPLC</li>
                            <li >LC-MS</li>
                            <li >ICP-MS</li>
                        </ul>
                    
                <li class = "bolder">Plate Readers: </li>
                    <ul>
                        <li >Cytation-7</li>
                        <li >Varioskan-LUX</li>
                    </ul>
                
            
        </ul>
    </div>

    <br>
    <div class = "job">
    <p class="job-title">Operational</p>
        <br>
        <ul style="list-style-type: none;">
            <li class = "location">Laboratory Management/GLP:</li>
                <ul>
                    <li> Laboratory NotebookDocumentation (Benchling)</li>
                    <li>Inventory Management</li>
                    <li>Reagent Preparation</li>
                    <li>Instrument Maintenance</li>
                </ul>
           
            <br>
            <li class = "location">Communication:</li>
                <uL>
                    <li>SCRUM Meetings</li>
                    <li>Company-wide Presentations</li>
                    <li>Reagent and Service Procurement</li>
            
        </ul>
    </div>

</section>

{% endblock %}
